@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');
:root{
    --gunmetal: #1C232B;
    --cream: #F2EAE2;
    --aurometal: #6C7289;
    --deep-aquamarine: #3D8168;
    --deep-aquamarine-hover: #1A4032;
    --white: #fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:var(--cream);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    /* line-height: 1.4; */
    padding: 30px;

}
.product-card{
    width: 91%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: 100%;
    margin: 0 auto;
    
}
.container{
    width: 100%;
}
.product-image{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.product-info{
    color: var(--aurometal);
    font-size: .875rem;
    line-height: 1.64em;
    margin: 4.6% 7.2% 7% 7.2%
}
.subheading{
    color: var(--aurometal);
    font-size: .75rem;
    letter-spacing: .33em;
    text-transform: uppercase;
    font-weight: 500;
    margin: 7% 0 0 7.2%;
}
.heading{
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    font-style: normal;
    color: var(--gunmetal);
    line-height: 1em;
    margin: 3.5% 7.2% 0 7.2%;
}
.large-green{
    font-family: 'Fraunces', serif;
    color: var(--deep-aquamarine);
    font-size: 2rem;
    margin: 0 0 0 7.2%;
}
.small-strikethrough{
    text-decoration: line-through;
    padding-left:1.1875rem;
}
.btn{
    text-align: center;
    font-size: .875rem;
    width: 86%;
    display: inline-block;
    background-color: var(--deep-aquamarine);
    padding: 1.07em 0;
    margin: 5.8% 7.2% 7% 7.2%;
    border-radius: 8px;
}
.btn:link, .btn:visited{
    color: var(--white);
    text-decoration: none;
}
.btn:hover{
    background-color: var(--deep-aquamarine-hover);
}

@media screen and (min-width: 650px){
    body{
        padding: 0;
    }
    .product-card{
        flex-direction: row;
        max-height: 450px;
        max-width: 600px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .product-image{
        width: 300px;
        max-height: 450px;
        border-radius: 10px 0 0 10px;
        flex: 1 0 50%;
    }
    .container{
        margin: 5.333%;
        width: 50%;
    }
    .subheading{
        margin:  0;
    }
    .heading{
        margin: 8.7% 0 10.4% 0;
    }
    .product-info{
        margin: 0 0 12.6% 0;
    }
    .large-green{
        margin: 0 3.1% 0 0;
    }
    .prices{
        position: relative;
    }
    .small-strikethrough{
        margin: 0;
        padding: 0;
        font-size: .8125rem;
        position: absolute;
        top: 30%;
        left: 61.6%;
    }
    .btn{
        margin: 13% 0 2.5% 0;
        width: 100%;
    }
}
